* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 40px 30px 30px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.location-item-divider {
    width: 30px;
    height: 8px;
    border: 0;
    background-color: rgb(59, 175, 253);
}

.location-item-heading {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #1689e7;
    font-weight: bold;
    font-size: 48px;
}

 .location-item-name {
     color: #adadad;
     text-transform: uppercase;
} 

.fly-info {
    padding-top: 20px;
}

.fly-info-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fly-info-item {
    margin-bottom: 20px;
}

.fly-info-item:not(:last-child) {
    margin-right: 130px;
}

.fly-info-second-item {
    margin-bottom: 0;
    color: #adadad;
    text-transform: uppercase;
}

.footer-part {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: #adadad;
    text-transform: uppercase;

}

.hero-second-item {
    margin-top: 0;
}
